<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sistema de Matricula</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <h1 th:text="|Bienvenid@ | +${usuario.nombreCompleto}">Bienvenid@</h1>
        <a th:href="@{'usuarioListar.do'}">Mantenimiento usuarios</a><br/>
        <a th:href="@{'cursoMostrar.do'}">Consulta de cursos</a><br/>
        <a th:href="@{'matriculaMostrar.do'}">Matricula</a><br/>
    </body>
</html>
